@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbc-btn-group {
  display: none !important;
}


.rbc-toolbar .rbc-toolbar-label {
  background-color: #065056;
  flex-grow: 1;
  font-size: 14px;

  text-align: left !important;
  padding: 15px 15px 15px 30px !important;
  color: white;
}
.rbc-month-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #233038;
  color: white;
  padding: 15px;
}
.rbc-header {
  border-bottom: 0px !important;
}
.rbc-header + .rbc-header {
  border-left: 0px !important;
  border-right: 0px !important;
}
.rbc-toolbar {

  margin-bottom: 0px !important;

}
.rbc-header .rbc-today{
background-color: white !important;
}
/* .rbc-month-row{
  display: none !important;;
} */
.rbc-month-view{
  border: 0px !important;
}
/* .rbc-calendar{
  height: auto !important;
} */
.rbc-day-slot .rbc-event-label {
  display: none !important;
  flex: none;
  padding-right: 5px;
  width: auto;
}
.rbc-timeslot-group {
  min-height:180px !important;
}
.rbc-event{

  height: 3.16667% !important;
  width: 90% !important;
}
.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 22px 20px 32px 30px !important;
  padding: 2px 5px;
  background-color: rgba(217, 217, 217, 0.1) !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-today {
  background-color: white !important;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid lightgray !important;;
  overflow: visible !important;
  position: absolute;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.174487 0.235785C0.407136 0.00140187 0.784335 0.00140187 1.01698 0.235785L6.19591 5.4533C6.57488 5.8351 7.19852 5.8351 7.57749 5.4533L12.7564 0.235785C12.9891 0.00140187 13.3663 0.00140187 13.5989 0.235785C13.8316 0.470167 13.8316 0.850177 13.5989 1.08456L8.41999 6.30208C7.57572 7.15264 6.19768 7.15264 5.35341 6.30208L0.174487 1.08456C-0.0581623 0.850177 -0.0581623 0.470167 0.174487 0.235785Z" fill="%23065056"/%3E%3C/svg%3E') no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
} */
